<mat-card [formGroup]="createForm">
    <h2>
        Inscription
    </h2>
        <!-- Form Fields -->

    <mat-form-field>
        <mat-label > Email </mat-label>
        <input #emailInput type="email" matInput formControlName="email"/>
        <mat-error>{{getFormControlErrorText(emailCtrl)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Mot de passe </mat-label>
        <input type="password" matInput formControlName="password"/>
        <mat-error>{{getFormControlErrorText(passwordCtrl)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Confirmation </mat-label>
        <input type="password" matInput formControlName="passwordConfirm"/>
        <mat-error>{{getFormControlErrorText(passwordConfirmCtrl)}}</mat-error>
    </mat-form-field>
    <mat-error *ngIf="isPasswordIdentical()">{{getFormControlErrorText(createForm)}}</mat-error>

    <!-- Bottom Buttons -->
    <button mat-flat-button (click)="createAccount()">
        Créer le compte
     </button>
    <button mat-flat-button (click)="goToLogin()">
        Retour
     </button>

</mat-card>
